main{
    width: 85%;
    gap: 20px;
    padding: 10px;
    overflow-y: hidden;
}

 .summary-cards{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 10px;
}

 .summary-cards .summary-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    border: 2px solid #F3F4F6;
    padding: 20px 10px;
    border-radius: 10px;
}

 .summary-cards .summary-card h1{
    margin-top: -20px;
 }

  .summary-cards .summary-card p:last-child{
    color: #687280;
    font-weight: 600;
    margin-top: -10px;
  }

 .summary-cards .summary-card .summary-card-header{
    display: flex;
    justify-content: space-between;
}

.summary-card .summary-card-header div{
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary-cards .summary-card:first-child .summary-card-header p{
    color: #006400 ;
    font-weight: 700;
}

.summary-cards .summary-card:first-child .summary-card-header div{
    background-color: #F0FFF0 ;
    color: #006400 ;
}

.summary-cards .summary-card:first-child h1{
    color: #006400 ;
    margin-top: -20px;
    font-weight: 700;
}

.summary-cards .summary-card:last-child .summary-card-header p{
    color: #FF0000  ;
    font-weight: 700;
}

.summary-cards .summary-card:last-child .summary-card-header div{
    background-color: #FF8A8A ;
    color: #FF0000  ;
}

.summary-cards .summary-card:last-child h1{
    color: #FF0000  ;
    margin-top: -20px;
    font-weight: 700;
}

.dashboard-body{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
}

.dashboard-body .people{
    border: 2px solid #F3F4F6;
    width: 70%;
    border-radius: 10px;
    padding: 10px;
}

.dashboard-body .people .person-card{
    border-top: 2px solid #F3F4F6;
    display: flex;
    justify-content: space-between;
    padding: 5px ;
}

.dashboard-body .people .person-card .person-card-left,
.dashboard-body .people .person-card .person-card-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.dashboard-body .people .person-card .person-card-left .person-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dashboard-body .people .person-card .person-card-left .person-details p{
    font-weight: 600;
}

.dashboard-body .people .add-btn{
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #818CF8;
    color: #FFF;
    font-size: 1rem;
    cursor: pointer;
}

.dashboard-body .people .add-btn:hover{
    background-color: #6366F1;
}

.dashboard-body .histories{
    border: 2px solid #F3F4F6;
    width: 25%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.histories .head,
.dashboard-body .people .head{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.histories .head button,
.dashboard-body .people .head button{
    border: none;
    background-color: #fff;
    color: #6366F1;
    cursor: pointer;
}

.histories .head button:hover,
.dashboard-body .people .head button:hover{
    font-weight: bold;
    text-decoration: underline;
}

.dashboard-body .histories .history{
    border-top: 2px solid #F3F4F6;
    padding: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.img-placeholder{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #F3F4F6;
}

.history-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.history-info .day{
    font-weight: 600;
}

@media (max-width: 768px) {
    main{
        width: 100%;
        padding: 0;
        overflow-y: scroll;
    }
    .summary-cards .summary-card{
        width: 40%;
    }
    .dashboard-body{
        flex-wrap: wrap;
    }
    .dashboard-body .people,
    .dashboard-body .histories{
        width: 100%;
    }
}