.empty-card {
    width: 520px;
    min-height: 670px;
    margin: 0 auto;
    background: white;

    border: 1px solid #edf0f5;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 65px 30px;
}
/* =========================
   ILLUSTRATION
========================= */

.person-illustration {
    width: 210px;
    height: 210px;

    background: #f1f3fa;

    border-radius: 50%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 55px;
}


/* Profile card */

.profile-card {
    width: 70px;
    height: 90px;

    background: white;

    border: 3px solid #dce2ef;
    border-radius: 6px;

    position: absolute;

    left: 45px;
    top: 72px;

    overflow: hidden;
}

.person-head {
    width: 30px;
    height: 30px;

    background: #c8d0e2;

    border-radius: 50%;

    position: absolute;

    top: 18px;
    left: 18px;
}

.person-body {
    width: 65px;
    height: 35px;

    background: #394b78;

    border-radius: 50% 50% 0 0;

    position: absolute;

    bottom: -10px;
    left: 1px;
}


/* Search icon */

.search-icon {
    width: 58px;
    height: 58px;

    border: 9px solid #4148e8;

    border-radius: 50%;

    position: absolute;

    top: 30px;
    right: 35px;
}

.search-icon::after {
    content: "";

    width: 35px;
    height: 9px;

    background: #4148e8;

    border-radius: 10px;

    position: absolute;

    right: -27px;
    bottom: -15px;

    transform: rotate(45deg);
}


/* =========================
   CONTENT
========================= */

.content {
    text-align: center;
}

.content h2 {
    color: #111827;

    font-size: 22px;
    font-weight: 700;

    margin-bottom: 25px;
}

.content p {
    color: #8b91a1;

    font-size: 17px;
    line-height: 1.9;

    margin-bottom: 45px;
}


/* =========================
   BUTTON
========================= */

.content button {
    width: 180px;
    height: 60px;

    border: none;
    border-radius: 8px;

    background: linear-gradient(
        135deg,
        #4147e8,
        #555bf5
    );

    color: white;

    font-size: 17px;
    font-weight: 600;

    cursor: pointer;

    box-shadow: 0 5px 12px rgba(65, 71, 232, 0.25);

    transition: transform 0.2s ease;
}

.content button:hover {
    transform: translateY(-2px);
}