.transaction-card {
    width: 510px;
    height: 400px;
    background: #ffffff;
    border: 1px solid #edf0f5;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 30px;
    margin: 0 auto;
}

.illustration {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
}

.wallet {
    width: 110px;
    height: 78px;
    background: #9ba8c4;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.wallet-flap {
    width: 85px;
    height: 48px;
    background: #eef1f7;
    position: absolute;
    top: -35px;
    left: 18px;
    transform: rotate(25deg);
    border-radius: 4px;
}

.wallet-button {
    width: 35px;
    height: 24px;
    background: #aeb9cf;
    position: absolute;
    right: -5px;
    top: 28px;
    border-radius: 6px;
}

.wallet-button::after {
    content: "";
    width: 7px;
    height: 7px;
    background: white;
    position: absolute;
    left: 10px;
    top: 8px;
    border-radius: 50%;
}

.plus {
    width: 34px;
    height: 34px;
    background: #42c98a;
    color: white;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.content {
    text-align: center;
}

.content h2 {
    font-size: 22px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 25px;
}

.content p {
    font-size: 17px;
    line-height: 1.8;
    color: #8b91a1;
    margin-bottom: 45px;
}

.content button {
    width: 225px;
    height: 60px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(
        135deg,
        #3f45e8,
        #5359f5
    );
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 5px 12px rgba(69, 75, 230, 0.25);
}

.content button:hover {
    transform: translateY(-2px);
}

@media (max-width: 1024px) {
    .transaction-card{
        width: 70%;
}
    
}