.people-container{
    width: 95%;
    height: 100vh;
    margin: 0 auto ; 
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    border: 2px solid #F3F4F6;
}

.people-container .people{
    width:100%;
    margin-bottom: 150px;
}

.people-container .people .person-card{
    border-top: 2px solid #F3F4F6;
    display: flex;
    justify-content: space-between;
    padding: 5px ;
}

.people-container .people .person-card:hover{
    background-color: #F3F4F6;
    cursor: pointer;
}

.people-container .people .person-card .person-card-left,
.people-container .people .person-card .person-card-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.people-container .people .person-card .person-card-left .person-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.people-container .people .person-card .person-card-left .person-details p{
    font-weight: 600;
}

@media (max-width: 1024px) {
    .people-container .people{
        width:100%;
        margin-bottom: 0;
    }
    
}

