.sidebar {
  width: 15%;
  background-color: #111827;
}

.sidebar img {
  border: 2px solid #687280;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px 50px 0;
  text-align: center;
  color: #fff;
}

.modal-over-lay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

nav button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 15px;
  padding: 10px;
  height: 40px;
  border-radius: 10px;
  background-color: #111827;
  color: #fff;
  cursor: pointer;
}

nav button:hover,
nav button.active {
  background-color: #6366f1;
}

nav .dashboard-btn {
  margin-top: 50px;
}

.logout {
  margin-top: 200px;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -800px;
    width: 50%;
    height: 100vh;
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(800px); 
  }
}

@media (max-width: 1024px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -800px;
    width: 50%;
    height: 100vh;
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(800px); 
  }
}
