.sidebar{
    border: 2px solid red;
    width: 15%;
   
}

nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

nav button{
    border: 2px solid black;
    height: 40px;
    border-radius: 10px;
}